$main-color: #009988;
$light-gray: #767676;
$black: #000;
$white: #fff;
$background-color: #f1f1f1;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: $background-color;
}

i {
    color: $main-color;
}

.separator {
    margin: 16px 0;
    border: 1px solid #eee;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.app {
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin: 16px auto;
    justify-content: space-between;

    .contact {
        width: 33%;
        min-height: 100vh;

        .avatar {
            position: relative;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            span {
                position: absolute;
                bottom: 10px;
                left: 10px;
                font-size: 26px;
            }
        }

        .info {
            color: $light-gray;
            padding: 0 16px 16px;

            .detail {
                &-item {
                    padding: 8px 0;

                    span {
                        color: $light-gray;
                        margin-left: 8px;
                    }
                }
            }

            .skills {

                .title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 24px;

                    span {
                        font-size: 24px;
                        margin-left: 12px;
                        font-weight: bold;

                    }

                }

                .skill {
                    .title {
                        margin: 16px 0 12px;
                    }

                    .progress-wrapper {
                        position: relative;

                        div {
                            height: 18px;
                            border-radius: 9px;
                        }

                        .background {
                            background-color: $background-color;
                        }

                        .progress {
                            background-color: $main-color;
                            position: absolute;
                            top: 0;
                            color: #fff;
                            text-align: center;
                        }
                    }
                }
            }

            .languages {
                .language {
                    .title {
                        margin: 16px 0 12px;
                    }

                    .progress-wrapper {
                        position: relative;

                        div {
                            height: 18px;
                            border-radius: 9px;
                        }

                        .background {
                            background-color: $background-color;
                        }

                        .progress {
                            background-color: $main-color;
                            position: absolute;
                            top: 0;
                            color: $white;
                            text-align: center;
                        }
                    }
                }
            }
        }

    }

    .about {
        width: 65%;
        height: 600px;


        & b {
            color: $light-gray;
        }

        .work-experience {
            margin-bottom: 24px;
            padding: 20px;

            h2 {
                margin-top: 0;
            }

            h4 {
                color: $main-color;
            }
        }

        .education {
            padding: 5px;
        }
    }
}


// change it to mixin
.shadow {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}









footer {
    background: $main-color;
    height: 100px;
}